@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #f9aad0;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    background: #502779;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #222222;
}

body {
    zoom: 75%;
}